@media screen and (max-width: 600px) {
    * {
        margin:1;
        padding:1;
    }
    
    .dentro {
        width:30vw;
        height:60px;
        z-index:100000;
        background-color:#b8b8b8;
        float:right;
    }
    
    .menu {
        width:110vw;
        height:80px;
        font-size:1vw;
        background-color:#b8b8b8;
        border: 2px black solid;
        
    }
    
    .baixo {
        width:110vw;
        height:600px;
    }
    
    .final {
        font-size:2vw;
        border: 3px solid black;
        width:110vw;
        height:100px;
        background-color:#b8b8b8;;
    }
    
    .meio {
        float:right;
        width:110vw;
        height:300px;
        font-size:5vw;
        margin-right:-30px;
        z-index:10000;
        margin-top:20px;
    }
    
    
    .her {
        border:0px;
        background-color:#b8b8b8;
        font-size:15vw;
        width:13vw;
        z-index:2000;
        height:80px;
    }
    
    .meio section{
        align-items:center;
        display:flex;
        justify-content:space-between;
    }
    
    
    .meio2 {
        float:right;
        width:46vw;
        height:270px;
        font-size:1vw;       
        z-index:10000;
        margin-top:20px;
        
    }
    
    .meio3 {
        float:left;
        width:46vw;
        height:270px;
        font-size:1vw;
        z-index:10000;
        margin-top:20px;
    }
    
    
    
    
    
    .t {
        width:110vw;
        height:2px;
        background-color:#c7c7c7;
        clear:both;
    }
    
    .search2 {
        margin-top:20px;
        border:0px;
        background-color:#ffffff;
    }
    
    
    .link {
        display:none;
        z-index:2000;
        position:absolute;
        left:7px;
        padding:15px;
        
        
    }
    
    .sepa {
        width:110vw;
        height:2px;
        background-color:#c7c7c7;
    }
    
    img {
        width:46vw;
        height:180px;
        border:3px black solid;
        
    }
    
    .pes {
        width:30vw;
        height:100px;
        background-color:#ffffff;
        align-items:left;
        float:left;
        
    }
    
    .lupa {
        width:12vw;
        height:80px;
        background-color:#ffffff;
        margin-top:20px;
        border:0px;
    }
    
    input {
        width:80vw;
        height:55px;
        border-radius:50px;
        margin-top:10px;
        margin-left:120px;
        font-size:5vw;
        border:1px black solid;
        float:left;
    }
    
    .link2 {
        display:none;
        z-index:1000;
        position:absolute;
        left:7px;
        padding:15px;
        
    }
    
    #link.active {
        display:block;
        justify-content:space-around;
        align-items:center;
        background-color:#b8b8b8;
        z-index:10000000;
        width:40vw;
        height:110px;
        
        
    }
    
    #link2.active {
        display:flex;
        align-items:center;
        justify-content:space-around;
        width:43vw;
        height:280px;
        background-color:#b8b8b8;
        z-index:100000;
        border:0px black solid;
        
        
    }
    
    
    a {
        color:black;
        text-decoration:none;
        font-family:sans-serif;
        font-size:20px;
        letter-spacing:4px;
        margin-left:-13px;
        top:15px;
    }
    
    
    .ul2 ul {
        list-style:none;
    }
    
    nav-list li {
        letter-spacing:50px;
        margin-left:50px;
        
    }
}

