@media screen and (min-width: 200px) {
    * {
        margin:1;
        padding:1;
    }
    
    .dentro {
        width:30vw;
        height:60px;
        z-index:100000;
        background-color:#b8b8b8;
        float:right;
    }
    
    .titulo {
        font-size:7vw;
    }
    
    .conect {
        float:right;
        background-color:#55ff97;
        width:74vw;
        height:80px;
        border:0px black solid;
    }
    
    .conect2 {
        z-index:100000000000000;
        width:80vw;
        height:80px;
        background-color:#55ff97;
        border:3px black solid;
    }
    
    .pesquisa {
        float:left;
        background-color:#ffffff;
        width:100vw;
        height:80px;
        margin-top:10px;
    }
    
    input {
        
        margin-top:20px;
        border-radius:20px;
        width:67vw;
        height:40px;
        font-size:6vw;
        margin-left:20px;
    }
    
    .pb {
        width:24vw;
        height:42px;
        font-size:6vw;
        border-radius:20px;
    }
    

    
    
    
    .menu {
        width:17vw;
        height:80px;
        font-size:20px;
        background-color:#55ff97;
        border: 3px black solid;
        
        
    }
    
    .baixo {
        width:100vw;
        height:300px;
    }
    
    .final {
        font-size:2vw;
        border: 3px solid black;
        width:100vw;
        height:100px;
        background-color:#55ff97;;
    }
    
    .meio {
        float:right;
        width:100vw;
        height:300px;
        font-size:5vw;
        margin-right:-30px;
        z-index:10000;
        margin-top:20px;
    }
    
    
    .her {
        border:0px;
        background-color:#55ff97;
        font-size:15vw;
        width:17vw;
        z-index:1000000000000000000;
        height:80px;
    }
    
    .meio section{
        align-items:center;
        display:flex;
        justify-content:space-between;
    }
    
    
    .meio2 {
        float:right;
        width:45vw;
        height:270px;
        font-size:1vw;       
        z-index:10000;
        margin-top:20px;
        margin-right:-50px;
        
    }
    
    .meio3 {
        float:left;
        width:45vw;
        height:270px;
        font-size:1vw;
        z-index:10000;
        margin-top:20px;
        margin-left:20px;
    }
    
    
    
    
    
    .t {
        width:100vw;
        height:2px;
        background-color:#c7c7c7;
        clear:both;
    }
    
    
    
    
    .link {
        display:none;
        z-index:2000;
        position:absolute;
        left:7px;
        padding:15px;
        
        
    }
    
    .sepa {
        width:100vw;
        height:2px;
        background-color:#c7c7c7;
        
    }
    
    img {
        width:45vw;
        height:180px;
        border:3px black solid;
        
    }
    
    
    .lupa {
        width:12vw;
        height:80px;
        background-color:#ffffff;
        margin-top:20px;
        border:0px;
    }
    

    
    .link2 {
        display:none;
        z-index:1000;
        position:absolute;
        left:7px;
        padding:15px;
        
    }
    
    #link.active {
        display:flex;
        justify-content:space-between;
        align-items:center;
        background-color:#55ff97;
        z-index:10000000;
        width:50vw;
        height:200px;
        line-height:50px;
        border:3px black solid;
        
        
    }
    
    #link2.active {
        display:flex;
        align-items:center;
        justify-content:space-around;
        width:43vw;
        height:80px;
        background-color:#b8b8b8;
        z-index:100000;
        border:0px black solid;
        
        
    }
    
    
    a {
        color:black;
        text-decoration:none;
        font-family:sans-serif;
        font-size:20px;
        letter-spacing:4px;
        margin-left:-13px;
        top:15px;
    }
    
    
    .ul2 ul {
        list-style:none;
    }
    
    nav-list li {
        letter-spacing:50px;
        margin-left:50px;
        
    }
}



